<div class="row">

        <div class="col">  <!--Col ke andar Col mid krna-->
            <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_orders}}</h3>
                </div>
            </div>
            </div>
        </div>

        <div class="col-md">
            <div class="col">
            <div class="card text-white text-center mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Orders Delievered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{delievered_orders}}</h3>
                </div>
            </div>
            </div>
        </div>

        <div class="col-md">
            <div class="col">
            <div class="mb-3 card text-white text-center" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending_orders}}</h3>
                </div>
            </div>
            </div>
        </div>

</div>
